<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://malltopicserviceapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-007.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MallTopicServiceApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MallTopicServiceApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MallTopicFinalEntities1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=nu61s95pmj.database.windows.net;Initial Catalog=MallTopicFinal;Persist Security Info=True;User ID=malltopic;Password=topic2014!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MallTopicFinalEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/malltopicdb.csdl|res://*/malltopicdb.ssdl|res://*/malltopicdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nu61s95pmj.database.windows.net;initial catalog=MallTopicFinal;persist security info=True;user id=malltopic;password=topic2014!;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MallTopicFinalEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=nu61s95pmj.database.windows.net;Initial Catalog=MallTopicFinal;Persist Security Info=True;User ID=malltopic;Password=topic2014!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MallTopicFinalEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/malltopicdb.csdl|res://*/malltopicdb.ssdl|res://*/malltopicdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nu61s95pmj.database.windows.net;initial catalog=MallTopicFinal;persist security info=True;user id=malltopic;password=topic2014!;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="malltopic2014Entities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=nu61s95pmj.database.windows.net;Initial Catalog=malltopic2014;Persist Security Info=True;User ID=malltopic;Password=topic2014!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\malltopic2014Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/malltopicdb.csdl|res://*/malltopicdb.ssdl|res://*/malltopicdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nu61s95pmj.database.windows.net;initial catalog=malltopic2014;persist security info=True;user id=malltopic;password=topic2014!;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="malltopic2Entities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=nu61s95pmj.database.windows.net;Initial Catalog=malltopic2014;Persist Security Info=True;User ID=malltopic;Password=topic2014!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\malltopic2Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/malltopicdb.csdl|res://*/malltopicdb.ssdl|res://*/malltopicdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nu61s95pmj.database.windows.net;initial catalog=malltopic2014;persist security info=True;user id=malltopic;password=topic2014!;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="malltopicEntities" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=nu61s95pmj.database.windows.net;Initial Catalog=MallTopicFinal;Persist Security Info=True;User ID=malltopic;Password=topic2014!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\malltopicEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/malltopicdb.csdl|res://*/malltopicdb.ssdl|res://*/malltopicdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nu61s95pmj.database.windows.net;initial catalog=MallTopicFinal;persist security info=True;user id=malltopic;password=topic2014!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=nu61s95pmj.database.windows.net;Initial Catalog=malltopic2014;Persist Security Info=True;User ID=malltopic;Password=topic2014!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/malltopicdb.csdl|res://*/malltopicdb.ssdl|res://*/malltopicdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nu61s95pmj.database.windows.net;initial catalog=malltopic2014;persist security info=True;user id=malltopic;password=topic2014!;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MallTopicFinalEntities2" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=nu61s95pmj.database.windows.net;Initial Catalog=MallTopicFinal;Persist Security Info=True;User ID=malltopic;Password=topic2014!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MallTopicFinalEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/malltopicdb.csdl|res://*/malltopicdb.ssdl|res://*/malltopicdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nu61s95pmj.database.windows.net;initial catalog=MallTopicFinal;persist security info=True;user id=malltopic;password=topic2014!;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MallTopicFinalEntities4" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="malltopic_wcf.MallTopicFinalEntities4, malltopic_wcf" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MallTopicFinalEntities3" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=nu61s95pmj.database.windows.net;Initial Catalog=MallTopicFinal;Persist Security Info=True;User ID=malltopic;Password=topic2014!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MallTopicFinalEntities3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/MallTopicdb.csdl|res://*/MallTopicdb.ssdl|res://*/MallTopicdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nu61s95pmj.database.windows.net;initial catalog=MallTopicFinal;persist security info=True;user id=malltopic;password=topic2014!;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)malltopic2014Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)malltopic2Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)malltopicEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MallTopicFinalEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MallTopicFinalEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MallTopicFinalEntities4-Web.config Connection String" />
  </ItemGroup>
</Project>