<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://malltopicserviceapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>malltopicserviceapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MallTopicServiceApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MallTopicServiceApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MallTopicFinalEntities1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="malltopic_wcf.MallTopicFinalEntities1, malltopic_wcf" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MallTopicFinalEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=x09qqhreyb.database.windows.net;Initial Catalog=MallTopicFinal;User ID=Mtopic;Password=MallTopic2014!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MallTopicFinalEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/MallTopicdb.csdl|res://*/MallTopicdb.ssdl|res://*/MallTopicdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=x09qqhreyb.database.windows.net;initial catalog=MallTopicFinal;user id=Mtopic;password=MallTopic2014!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MallTopicFinalEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MallTopicFinalEntities1-Web.config Connection String" />
  </ItemGroup>
</Project>