 *
 	font-family Helvetica

 @font-face
   font-family titulo
   font-style normal
   src url(fonts/geo_sans_light/GensansLight.ttf)

body
	background #F2F2F2
	border 1px
	padding 0px
	margin 0px
	
	#content
		margin 125px 0px 110px 0px
		
		.contenedor1
			width 95%
			height 500px
			margin 2.5%
			background #E6E6E6
			border 5px inset #666
			position relative
			
			.slider
				width 70%
				height 500px
				background red
				float left
				position relative					
			
			.videoPlaylist
				width 33%
				margin 1%				
				height 350px
				background #333
				float left
				
		.secciones
			width 95%
			height auto
			margin 2.5%
			position relative	
	
			a
				display inline-block
				padding 0px 10px 0px 10px
				height 30px
				border-top-left-radius 10px
				border-top-right-radius 10px
				line-height 35px 
				text-align center
				background #666
				text-decoration none
				font-size 0.75em
				font-family Helvetica
				color #fff
				
			article
				width 100%
				height 200px
				background #E6E6E6
				border 5px inset #666
				margin 0px 
				padding-bottom 16px
				overflow auto
				
		.redesSocial
			width 95%
			height 200px
			margin 2.5%
			position relative
			background blue
			border 5px inset #666
			
			.redesSpace
				width 50%
				height 200px
				background yellow
				float left
    						

		.botonera
			width 100%
			height 30px 
			margin 0px 
			padding 0px
			top 80px
			left 0px
			position fixed
			z-index 9
			
			ul 
				margin 0px
				padding 0px
			
				li
					float left;
					width 10%
					height 30px 
					list-style-type none
					text-align center
				
				a
					display inline-block
					width 99%
					height 28px
					line-height 28px
					border-top 1px solid #666
					text-decoration none
					background #666
					color #fff !important
					border-bottom-left-radius 20px
					border-bottom-right-radius 20px
					font-size 0.75em
					font-family Helvetica
					overflow:hidden;
    				white-space:nowrap;
    				text-overflow: ellipsis;
	
	header
			width 100%
			height 80px
			background #F2F2F2
			margin 0px
			padding 0px
			position fixed
			top 0px
			left 0px
			z-index 10
			
		.logoMT
			width 200px
			height 75px
			background:url(../images/LogoMT1.png)
			background-size 100%
			position absolute
			top 0px
			left 0px
			margin 0px 
			padding 0px
			
		h1
			width 400px
			height 80px
			margin 0 auto
			line-height 80px
			text-align center
			font-size 2.5em
			font-family Helvetica
			letter-spacing -2px;
			
		#daTime
			width 130px
			height 30px
			position absolute
			top 0px
			right 0px
			font-size 0.8em
			font-weight bolder
			font-family Helvetica
			text-align center
			color #333 !important
			
			p
				width 100%
				background none
				color #333 !important

						
		.redes
			width 150px
			height 50px
			position absolute
			top 30px
			right 0px
			
			a
				display inline-block
				width 30px
				height 30px
				background #ccc
				margin 7px 5px 0px 5px
				text-indent -9000% 
				padding 0px
			

	footer 
			width 100%
			height auto
			background rgba(0, 0, 0, 0.6);
			margin 0px
			padding 0px
			bottom 0px
			left 0px
			position fixed
			text-align center
			z-index 10
			
		figure
			width 100%
			height 50px 
			margin 0 auto 
			background #fff
			
		p
			width 50%
			height 30px
			line-height 30px
			float left
			background rgba(0, 0, 0, 0.6);
			text-align center
			margin 5px auto 5px auto
			color #fff

			a
				display block
				width 150px
				height 30px
				float left
				text-decoration none
				line-height 30px
				font-style italic
				font-size 0.8em
				color #fff !important	
				
			a:nth-of-type(1)
				margin 0px 0px 0px 35%
				border-right 1px solid #fff	
				