<section class="contenedorCentros">
    <h1>Centros Comerciales</h1>
    <div class="cuadrosCC">
        <a href="#" id="LinkCC" data-id="contenedor">
            <div class="centroCC">
                <img src="#" class="logoCC" />
                <img src="#" class="headerCC" />
                <p class="parrafoCentroCC">Describcion CC</p>
            </div>
        </a>
        <a href="#" id="LinkCCqw" data-id="contenedor">
            <div class="centroCC">
                <img src="#" class="logoCC" />
                <img src="#" class="headerCC" />
                <p class="parrafoCentroCC">Describcion CC</p>
            </div>
        </a>
    </div>
</section>